extends ../includes/auth/main-auth

block content
  form(action="/login" method="post")
    .head.mb-3
      img.logo.border.rounded.shadow-sm(src="/images/app/logo-192x192.png", alt="logo", srcset="")
    
    .form-group
      .col-sm-12.mb-3
        h4.title !{app.NAME}
        //- span.sub-title !{title}

      .col-sm-12.mb-3
        input(type='hidden', name='tz_offset' value=localOffset)
        input.form-control.input-sm.username#username(type='text', name='username', placeholder="username" maxlength="55" autocomplete="off" required autofocus)

      .col-sm-12.mb-3
        .input-group
          input.form-control.input-sm.password#password(type='password', name='password', placeholder="password" maxlength="55" required)
          .input-group-append(style="cursor: pointer")
            .input-group-text
              i.bi.bi-eye-slash(aria-hidden='true')

      .col-sm-12.mb-3
        .d-flex.justify-content-between
          label.radio.text-center
            input#developer(type='radio' name='account_type' value='developer' required)
            span
              |  System

          label.radio.text-center
            input#owner(type='radio' name='account_type' value='owner' required checked)
            span
              |  Owner

          label.radio.text-center
            input#staff(type='radio' name='account_type' value='employee' required)
            span
              |  Employee

      .col-sm-12.mb-3
         button.signin-button(type="submit") 
          i.bi.bi-box-arrow-in-right
          | &nbsp; !{buttonText}
    
    .link.text-center
      //- a(href="#") Forgot password? or 
      //- a(href="/signup") If you don't have developer account? 
      //-   span Sign Up

  script.
    document.addEventListener('DOMContentLoaded', function() {
      const usernameInput = document.getElementById('username');
      const passwordInput = document.getElementById('password');
      const radioButtons = document.getElementsByName('account_type');
    
      const updateFields = () => {
        const selectedType = document
          .querySelector('input[name="account_type"]:checked')

        switch (selectedType.value) {
          case 'developer':
            usernameInput.value = '';
            passwordInput.value = '';
            break;
          case 'owner':
            usernameInput.value = 'kimleman';
            passwordInput.value = 'kimleman123';
            break;
          case 'employee':
            usernameInput.value = 'kimstaffa';
            passwordInput.value = 'kimstaffa123';
            break;
        }
      };
    
      radioButtons.forEach(radio => {
        radio.addEventListener('change', updateFields);
      });

      updateFields();
    });