div.modal-footer.justify-content-md-center
  button.btn.material-button.material-secondary#dialogCancel(type='button', data-dismiss='modal')
    |  !{content.common.btn_close}
  
  button.btn.material-button.material-primary.ml-1#dialogSubmit(type='submit' role="button")
    i.bi.bi-save
    |  !{content.common.btn_save}