button#btnNew.btn.material-primary.mx-1(type='button' onclick=`location.href='${page.entry.url}';` role='button' data-tooltip="tooltip" data-placement="top" title="New")
  i.bi.bi-plus-square
  //- |  Create