button#btnFilter.btn.btn-light.mx-1(type='button' role='button' style="width: 38px" data-toggle="modal", data-target="#dialogFilterTable" data-tooltip="tooltip" data-placement="top" title="Filter")
  i.text-dark.bi.bi-funnel
  //- |  Filter

//- button#btnSearch.btn.btn-light.mx-1(type='button' role='button' style="width: 38px" data-tooltip="tooltip" data-placement="top" title="Search")
//-   i.text-dark.bi.bi-search
  //- |  Search