.mr-auto
  #tbSearchWrap.input-group.input-group-sm
    input.form-control.input-sm#tbSearchInput(type='text' placeholder='Type & enter...' )
    .input-group-prepend.cursor-pointer
      span.input-group-text.rounded-right
        i.bi.bi-search(aria-hidden='true')