button#btnExcel.btn.btn-light.mx-1(type='button' role='button' style="width: 38px" data-tooltip="tooltip" data-placement="top" title="Excel")
  i.text-dark.bi.bi-file-earmark-excel
  //- |  Excel
button#btnPdf.btn.btn-light.mx-1(type='button' role='button' style="width: 38px" data-tooltip="tooltip" data-placement="top" title="PDF")
  i.text-dark.bi.bi-file-earmark-pdf
  //- |  PDF
button#btnPrint.btn.btn-light.mx-1(type='button' role='button' style="width: 38px" data-tooltip="tooltip" data-placement="top" title="Print")
  i.text-dark.bi.bi-printer
  //- |  Print