<!-- Data Table Lib -->
script(src="/javascript/lib/data-table/jquery.datatables.min.js")
script(src="/javascript/lib/data-table/datatables.buttons.min.js")
script(src="/javascript/lib/data-table/buttons.html5.min.js")
script(src="/javascript/lib/data-table/buttons.print.min.js")
script(src="/javascript/lib/data-table/pdfmake.min.js")
script(src="/javascript/lib/data-table/jszip.min.js")
script(src="/javascript/lib/data-table/vfs_fonts.js")

<!-- Custom JS -->
script(src='/javascript/datatable.js')