div.alert.alert-dismissible#alertHandler(role='alert' style="display:none;")
  b#alertTitle
  span#alertMessage
  button.close(type='button', data-hide='alert', aria-label='Close')
    span(aria-hidden='true') &times;