extends ../includes/layout-main
block content
  main.border.mx-3.mb-5.p-3(role='main')
    include ./../includes/entry/entry-header2
    +entryHeader({ titleKey: "starter", breadcrumbKey: 'starter' })

    ul#myTab.nav.nav-tabs.mb-3(role='tablist')
      li.nav-item(role='presentation')
        button#information-tab.nav-link.active(data-toggle='tab' data-target='#information' type='button' role='tab' aria-controls='information' aria-selected='true')
          i.bi.bi-info-circle
          span.d-none.d-lg-block !{content.common.tab_info}
          

    #myTabContent.tab-content
      #information.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='information-tab')
    
       .row
          .col-sm-6.col-md-4.col-xl-3.mb-4
            .border.rounded.d-flex.flex-column.h-100
              .card-header
                .d-flex.justify-content-between
                  h6.change-header.pt-2
                    i.bi.bi-coin
                    |  Change price
                    
              .card-body
                p.change-description 
                  | Easily adjust product or service pricing to stay responsive.

              .card-footer
                .d-flex.justify-content-center
                  .btn-group.btn-group-md
                    a.btn.btn-light(href="/control-prices/change-price" type='button')
                      i.bi.bi-arrow-right
                      |   Go

          .col-sm-6.col-md-4.col-xl-3.mb-4
            .border.rounded.d-flex.flex-column.h-100
              .card-header
                .d-flex.justify-content-between
                  h6.change-header.pt-2
                    i.bi.bi-percent
                    |  Add discount price
                    
              .card-body
                p.change-description 
                  | Attract customers by applying quick discounts to items or categories.

              .card-footer
                .d-flex.justify-content-center
                  .btn-group.btn-group-md
                    a.btn.btn-light(href="/control-prices/add-discount-price" type='button')
                      i.bi.bi-arrow-right
                      |   Go

          .col-sm-6.col-md-4.col-xl-3.mb-4
            .border.rounded.d-flex.flex-column.h-100
              .card-header
                .d-flex.justify-content-between
                  h6.change-header.pt-2
                    i.bi.bi-percent
                    |  Remove discount price
                    
              .card-body
                p.change-description 
                  | Streamline your pricing strategy by effortlessly removing discounts as needed.

              .card-footer
                .d-flex.justify-content-center
                  .btn-group.btn-group-md
                    a.btn.btn-light(href="/control-prices/remove-discount-price" type='button')
                      i.bi.bi-arrow-right
                      |   Go
                      

  script.
    $(document).ready(function() {
        // 
    });