doctype html
head
  title !{title}
  meta(charset='utf-8')
  meta(name='description' content='')
  meta(name='author' content='Wai Phyo')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  
  // Import Icon
  link(rel='manifest' href='/images/favicons/site.webmanifest')
  link(rel='apple-touch-icon' sizes='180x180' href='/images/favicons/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='/images/favicons/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/images/favicons/favicon-16x16.png')

  // Bootstrap
  link(href='/assets/bootstrap/css/bootstrap.min.css' rel='stylesheet')

  // Style Lib
  link(href='/stylesheet/lib/intl-phone/intl-phone.min.css' rel='stylesheet')
  link(href='/stylesheet/lib/font-bootstrap/bootstrap-icons.css' rel='stylesheet')
  
  // Auth styles 
  link(rel='stylesheet', href='/assets/auth/styles.css')
  link#theme(href='/stylesheet/theme-default.css' rel='stylesheet')

  // Jquery Core
  script(src="/javascript/lib/jquery.min.js")

  // Intl Phone
  script(src="/javascript/lib/intl-phone/intl-phone.min.js")

body
  .preloader
  .login-wrapper
    .login-div
      -var localOffset = new Date().getTimezoneOffset()

      block content
      p.text-center#error-msg

  - const _yr = new Date().getFullYear();

footer.bg-light.py-3.fixed-bottom
  .container.text-center
    p.mb-0
      | Hyper POS &copy; #{_yr}
      span.mx-2  |
      a(href='https://hyperpos.neohub.asia/terms-condition.html' target="_blank") Terms
      span.mx-2  |
      a(href='https://hyperpos.neohub.asia/privacy-policy.html' target="_blank") Privacy


  script.
    $(window).load(function() {
      $('.preloader').fadeOut('slow')
      sessionStorage.clear()
      localStorage.removeItem("cartId")
    })
    
    $(document).ready(function() {
      $(".input-group-append").on('click', function(event) {
        event.preventDefault();
        if($("#password").attr("type") == "password"){
          $("#password").prop("type", "text");
          $('.input-group-text i').addClass( "bi-eye" );
          $('.input-group-text i').removeClass( "bi-eye-slash" );
        }
        else if($("#password").attr("type") == "text"){
          $("#password").prop("type", "password");
          $('.input-group-text i').addClass( "bi-eye-slash" );
          $('.input-group-text i').removeClass( "bi-eye" );
        }
      });

      $('input.username, input.password').on({
        keypress: function (event) {
          var ew = event.which
          if (
            (48 <= ew && ew <= 57) || 
            (65 <= ew && ew <= 90) || 
            (97 <= ew && ew <= 122)
          ) return true
          return false
        },
        change: function () {
            this.value = this.value.replace(/\s/g, '')
        },
      })
    });

    const errorMessage = document.getElementById("error-msg");
    const urlParams = new URLSearchParams(window.location.search);
    const message = urlParams.get('message');
    const theme = localStorage.getItem("theme");

    if(message) {
      errorMessage.innerText = message;
      errorMessage.style.display = "block";
    }

    if (theme) {
      const themeHref = `/stylesheet/theme-${theme}.css`;
      $("#theme").attr("href", themeHref);
    }
